  <li class="bg" data-obsies="{{obsies}}" data-tobsies="{{tobsies}}" data-probsies="{{probsies}}">
    <div class="block header">
    	{{#each name}}
        {{#if this.primary}}
      		<span class="nm"><a href="https://www.boardgamegeek.com/boardgame/{{../bgid}}" target="_blank">{{this.name}}</a></span>
        {{/if}}
      {{else}}
      	  <span class="nm"><a href="https://www.boardgamegeek.com/boardgame/{{../bgid}}" target="_blank">Unnamed boardgame</a>
      {{/each}}
    </div>
    <div class="block">
    <div style="float: left; text-align: left;">
            <div class="block time">
              <span class="crets">{{geeklists.0.crets}}</span>
            </div>
            <div class="block">
            <p>
              {{#unless expands.length}}
                <span class="smallbox tp tpBoardgame"><a href="{{bgAttrFilterLink 'releasetype' 'boardgame'}}">Boardgame</a></span>
              {{/unless}}
              {{#if expands.length}}
                <span class="smallbox tp tpExpansion"><a href="{{bgAttrFilterLink 'releasetype' 'expansion'}}">Expansion</a></span>
              {{/if}}
              {{#if boardgamecompilation.length}}
                <span class="smallbox tp tpCollection"><a href="{{bgAttrFilterLink 'releasetype' 'collection'}}">Collection</a></span>
              {{/if}}
              {{#if boardgameimplementation.length}}
                <span class="smallbox tp tpReimplementation"><a href="{{bgAttrFilterLink 'releasetype' 'reimplementation'}}">Reimpl.</a></span>
              {{/if}}
              {{#if boardgameintegration.length}}
                <span class="smallbox tp tpIntegrates"><a href="{{bgAttrFilterLink 'releasetype' 'integration'}}">Integrates</a></span>
              {{/if}} 
            </p>
            </div>


            <div class="block">
              <ul>
                <li><i class="fas fa-calendar"></i> {{yearpublished}}</li>
                <li><i class="fas fa-users"></i> {{minplayers}} - {{maxplayers}}</li>
                <li><i class="far fa-clock"></i> {{minplaytime}} - {{maxplaytime}}</li>
              </ul>
            </div>
      </div>
      <div style="float: right; padding-right: 2px; padding-top: 2px;">
              <ul style="text-align: right;">
                <li>{{geeklists.0.latest.thumbs}} <i class="far fa-thumbs-up"></i></li>
                <li>{{geeklists.0.latest.cnt}} <i class="fas fa-hashtag"></i></li>
                <li>
                  {{#if geeklists.0.latest.wants}}
                    {{geeklists.0.latest.wants}} 
                  {{else}}
                    ?
                  {{/if}}
		  <i class="fas fa-heart"></i> 
                </li>
              </ul>
      </div>
    </div>
    <div class="block topmarg-10 details-bg attrs">
      {{> render_attr attrs=boardgamemechanic attrnm="boardgamemechanic" icon="fas fa-wrench"}}
      {{> render_attr attrs=boardgamedesigner attrnm="boardgamedesigner" icon="fas fa-pen-fancy"}}
      {{> render_attr attrs=boardgameartist attrnm="boardgameartist" icon="fas fa-paint-brush"}}
      {{> render_attr attrs=boardgamepublisher attrnm="boardgamepublisher" icon="fas fa-print"}}
      {{> render_attr attrs=boardgamecategory attrnm="boardgamecategory" icon="fas fa-tag"}}
      {{> render_attr attrs=boardgamefamily attrnm="boardgamefamily" icon="fas fa-user-friends"}}
    </div>
    <div class="block">
      <ul class="toggleDetails">
        <li>Observations <i class="fa fa-angle-down obs-caret fa-2x"></i></li>
      </ul>
    </div>
  </li> 
