  {{#if tobsies.length}}
  	<li class="lists">
      <div class="tobsies">
      	<span><i class="fa fa-handshake-o"></i></span>
      	{{#each tobsies}}
        	<span class="smallbox obs"><a href="https://www.boardgamegeek.com/geeklist/item/{{this}}" target="_blank">{{this}}</a></span>
        {{/each}}
      </div>
  	</li>
  {{/if}}
  {{#if obsies.length}}
  	<li class="lists">
      <div class="obsies">
      	<span><i class="fas fa-list"></i></span>
      	{{#each obsies}}
        	<span class="smallbox obs"><a href="https://www.boardgamegeek.com/geeklist/item/{{this}}" target="_blank">{{this}}</a></span>
        {{/each}}
      </div>
  	</li>
  {{/if}}
  {{#if probsies.length}}
  	<li class="lists">
      <div class="obsies">
      	<span><i class="far fa-list-alt"></i></span>
      	{{#each probsies}}
        	<span class="smallbox obs"><a href="https://www.boardgamegeek.com/geekpreview/{{previewid}}/item/{{objectid}}" target="_blank">{{objectid}}</a></span>
        {{/each}}
      </div>
  	</li>
  {{/if}}
