<div class="form-group">
	<label for="{{attr}}">{{attrnm}}</label>
	<svg id="{{attr}}hist" style="width: 100%;height: 50px;"></svg>
	
	<div id="{{attr}}" class="filterslider"></div>							
		<input class="min" type="number" for="number" step="{{step}}"></input>
		<input class="max" type="number" for="number" step="{{step}}"></input>
	</div>
	<span class="sidenav-reset-button"><i class="fa fa-refresh">reset</i></span>
</div>
