<div class="form-group glaze-tmpl-filter-rangeslider">
	<label for="{{attr}}">{{attrrm}}</label>
	<div id="{{attr}}" class="filterslider" data-glaze-default-min="{{default_min}}" data-glaze-default-max="{{default_max}}"></div>
	
	<input class="min" for="number" step="1"></input>
	<input class="max" for="number" step="1"></input>
	<span class="sidenav-reset-button"><i class="fa fa-refresh">reset</i></span>
</div>
